.tooglebar{
    background-color: rgb(44, 37, 77);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center; 
    color: #fff;
    

}
.links{
    width: 90%;
    height: 100px;
   display: flex;
   justify-content:end;
   margin-right: 10px;
   padding-right: 15px;
   align-items: center;
   color: white;
}
.links a{
    text-decoration: none;
    color: rgb(209, 218, 223);
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
}
.links a:hover{
  font-size: 1.3rem;
  color: rgb(249, 251, 253);
}

  
  .pngfile {
    width: 40px; /* Adjust the width to your preferred size */
    height: 40px; /* Adjust the height to your preferred size */
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 10%;
   
  }